.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  };
  
  .indexes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  };
  
  .index {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 30%;
  };
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  };
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  };
  
  p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  